@charset "utf-8";

/* Irina Heath 4/14/2016 */
body {
	/*font-size: 87.5%;  base font size is 14px */
	font-family: "Arial", "Lucida Sans Unicode";
	line-height: 1.429;
	clear: both;
	background: url(../images/swirls.jpg) no-repeat;
    background-size: cover;
}

.navbar {
    margin: 0;
    border-radius: 0;
    border: none;
}

#defaultNavbar2 {
    float: right;
}

#defaultNavbar2 > ul > li > a{
    color: white;
}

#defaultNavbar2 > ul > li > a:hover {
    background-color: #0c5b8e;
}

#navbar2 {
    width: 100%;
    background-color: #0C75B9;
}

.main {
    background-color: white;
    padding: 10px;
} 	

a , a:link, a:visited { 
	text-decoration:none;
	padding:0 2px;
}

a:hover, a:active{
	text-decoration:none;
}

#banner {
    padding: 0;
}

.mainFooter {
	width: 100%;
	padding: 15px 0px 10px 0px;
	background-color: #333132;
	color: #FFFFFF;
	height:auto;
}
	
.mainFooter p {
	width: 85%;
	margin: 0% auto;
	font-size: 11px;
	font-family: Verdana, Arial, sans-serif;
}

#payment_form {
    margin-bottom: 240px;
}

.fb:hover, .twitter:hover, .insta:hover, .yt:hover {
	opacity:.5;
}

