<div class="blog_background">
  <div class="container"> 
    <div class="jumbotron blog_title animated slideInDown">
      <div class="row">
        <h1 class="col-md-6">Omid's Blog</h1>
        <h3 class="col-md-6 text-right" style="margin-top:8vh">a place for code, dogs, and rants...</h3>
      </div>
    </div>
    <div id="post" class="row">
      <div class="col-md-6 visible-md visible-lg animated slideInUp">
        <img class="img-responsive" src="../images/family_photo.jpg"/><br>
        <img class="img-responsive" src="../images/my_dogs.jpg"/>
      </div>
    </div>
  </div>
</div>
