<h3>Commercial Insurance</h3><br/>

<em>Commercial Insurance Quote Forms</em>
<hr style="border-top: 1px solid #212121; margin: 5px 0 10px 0"/>

<p >Looking for coverage? Click any of the following links to submit a quote for quick, accurate and affordable rates. </p>

<a href="http://ezinsok.com/Contact_Us.html">Builders Risk</a><br />
<a href="http://ezinsok.com/BOP_Quote.html">Business Owners (BOP) Quote Form</a><br />
<a href="http://ezinsok.com/Commercial_Auto_Quote.html">Commercial Auto Insurance Quote</a><br />
<a href="http://ezinsok.com/General_Liability_Quote.html">General Liability Quote Form</a><br />
<a href="http://ezinsok.com/Workers_Comp_Quote.html">Workers Compensation Quote</a><br />

<br/><br/>

<em>Commercial Insurance Customer Service Options</em>
<hr style="border-top: 1px solid #212121; margin: 5px 0 10px 0" />

<p>
    Self policy service any time of the day, directly from our website. To request a policy change on your account, 
    click any of the following policy service options below.
</p>
<p>
    Request General Liability Certificate of Insurance
    Looking for coverage? Click any of the following links to submit a quote for quick, accurate and affordable rates.
</p><br/>

<em>Business & Commercial Insurance Information</em>
<hr style="border-top: 1px solid #212121; margin: 5px 0 10px 0" />

<strong>Commercial Auto</strong><br /><br />

<p>
    As a business owner, you need the same kinds of insurance coverages for the car you use in your business as you do for a car used for personal travel --
    liability, collision and comprehensive, medical payments (known as personal injury protection in some states) and coverage for uninsured motorists.
    In fact, many business people use the same vehicle for both business and pleasure. If the vehicle is owned by the business,
    make sure the name of the business appears on the policy as the "principal insured" rather than your name.
    This will avoid possible confusion in the event that you need to file a claim or a claim is filed against you.
</p>
<p>
    Whether you need to buy a business auto insurance policy will depend on the kind of driving you do.
    A good insurance agent will ask you many details about how you use vehicles in your business, who will be driving them and whether employees, 
    if you have them, are likely to be driving their own cars for your business.
</p>
<p>
    While the major coverages are the same, a business auto policy differs from a personal auto policy in many technical respects. 
    Ask your insurance agent to explain all the differences and options.
</p><br />

<strong>General Liability</strong><br /><br />

<p>
    If you have a personal umbrella liability policy, there's generally an exclusion for business-related liability. 
    Make sure you have sufficient auto liability coverage.
</p>
<p>
    Unfortunately for every business owner, the chances of getting sued have dramatically increased in the last decade.
    General Liability insurance can prevent a legal suit from turning into a financial disaster by providing financial protection 
    in case your business is ever sued or held legally responsible for some injury or damage.
</p>
<p>
    General Liability pays losses arising from real or alleged bodily injury, property damage, or personal injury on your business premises 
    or arising from your operations.
</p><br />

<strong>Broad Range of General Liability Protection</strong><br /><br />

<ul>
    <li>
        Bodily Injury, including the cost of care, the loss of services, and the restitution for any death that results from injury
    </li>
    <li>
        Property Damage coverage for the physical damage to property of others or the loss of use of that property
    </li>
    <li>
        Products-Completed Operations provides liability protection (damages and legal expenses up to your policy's limit) 
        if an injury ever resulted from something your company made or service your company provided
    </li>
    <li>
        Products Liability is a more specialized product liability insurance that protects your company against lawsuits from product-related injury or accidents
    </li>
    <li>
        Contractual Liability extends to any liability you may assume by entering into a variety of contracts
    </li>
    <li>
        Other coverage includes: Reasonable Use of Force; Borrowed Equipment; Liquor Liability; Non-Owned Vehicles (such as aircraft and watercraft);
        Fire, Lightning or Explosion Damage; Water Damage Liability Protection; Legal Defense Costs; Medical Payments; Personal Injury; Advertising Injury; 
        and specialized liability protection for specific business types
    </li>
</ul><br />

<strong>Workers Compensation</strong><br/><br/>

<p>
    Workers compensation laws were created to ensure that employees who are injured on the job are provided with fixed monetary awards.
    This eliminates the need for litigation and creates an easier process for the employee. It also helps control the financial risks 
    for employers since many states limit the amount an injured employee can recover from an employer.
</p>

<p>
    Workers Compensation Insurance is designed to help companies pay these benefits. As a protection for employees,
    most states require that employers carry some form of Workers Compensation Insurance. Workers Compensation Insurance is not health insurance. 
    Workers Compensation is designed specifically for injuries sustained on the job.
</p>

<p>
    In most states, if you have employees, you are required to carry Workers Compensation coverage. Even in non-mandatory states, 
    it can be a very good idea, particularly if you have many employees, or if they are engaged in hazardous activities.
</p><br/>

<strong>Do I need workers compensation insurance?</strong><br /><br />

<p>
    Employers have a legal responsibility to their employees to make the workplace safe. However, accidents happen 
    even when every reasonable safety measure has been taken.
</p>
<p>
    To protect employers from lawsuits resulting from workplace accidents and to provide medical care and compensation
    for lost income to employees hurt in workplace accidents, in almost every state, businesses are required to buy workers compensation insurance.
    Workers compensation insurance covers workers injured on the job, whether they're hurt on the workplace premises or elsewhere, 
    or in auto accidents while on business. It also covers work-related illnesses.
</p>
<p>
    Workers compensation provides payments to injured workers, without regard to who was at fault in the accident, 
    for time lost from work and for medical and rehabilitation services. It also provides death benefits to surviving spouses and dependents.
</p>
<p>
    Each state has different laws governing the amount and duration of lost income benefits, the provision of medical
    and rehabilitation services and how the system is administered. For example, in most states there are regulations 
    that cover whether the worker or employer can choose the doctor who treats the injuries and how disputes about benefits are resolved.
</p>
<p>
    Workers compensation insurance must be bought as a separate policy. Although in-home business and business owners policies 
    (BOPs) are sold as package policies, they don't include coverage for workers' injuries.
</p><br />