
<form method="post" class="bnet-form" enctype="multipart/form-data" action="#bn-ajax-post:1191165866:14:5555">
    <div class="bn-form-header">
        <div class="bn-form-legend">
            <div>Contact Us</div>
        </div>
    </div>
    <div class="fields-wrapper">
        <label class="bn-row">
            <span class="bn-label">
                First Name
                <span class="bn-required">*</span>
            </span>
            <span class="bn-input">
                <input type="text" name="Field-1" placeholder="your first name" validator=""
                       value="" required="required">
            </span>
        </label>
    </div>
    <div class="fields-wrapper">
        <label class="bn-row">
            <span class="bn-label">
                Last Name
                <span class="bn-required">*</span>
            </span>
            <span class="bn-input">
                <input type="text" name="Field-146603571465170" placeholder="your last name"
                       validator="" required="required" value="">
            </span>
        </label>
    </div>
    <div class="fields-wrapper">
        <label class="bn-row">
            <span class="bn-label">
                Phone Number
                <span class="bn-required">*</span>
            </span>
            <span class="bn-input">
                <input type="text" name="Field-146603573549973" placeholder="phone number"
                       validator="" required="required" value="">
            </span>
        </label>
    </div>
    <div class="fields-wrapper">
        <label class="bn-row">
            <span class="bn-label">
                Email Address
                <span class="bn-required">*</span>
            </span>
            <span class="bn-input">
                <input type="text" name="Field-2" placeholder="you must enter a valid email address"
                       validator="email" required="required" value="">
            </span>
        </label>
    </div>
    <div class="fields-wrapper">
        <div class="bn-row">
            <span class="bn-label">Inquiry Type </span>
            <span class="bn-input">
                <select name="Field-146603608856926[]" validator="">
                    <option value="General Liability">General Liability</option>
                    <option value="Automobile">Automobile</option>
                    <option value="Business &amp; Commercial">Business &amp; Commercial</option>
                    <option value="Dental">Dental</option>
                    <option value="Homeowners">Homeowners</option>
                    <option value="Life">Life</option>
                    <option value="Motorcycle">Motorcycle</option>
                    <option value="Recreational Vehicle">Recreational Vehicle</option>
                    <option value="Renters">Renters</option>
                    <option value="Vision">Vision</option>
                    <option value="Watercraft &amp; Boat">Watercraft &amp; Boat</option>
                </select>
            </span>
        </div>
    </div>
    <div class="fields-wrapper">
        <label class="bn-row">
            <span class="bn-label">
                Comments
                <span class="bn-required">*</span>
            </span>
            <span class="bn-input">
                <textarea name="Field-3" placeholder="enter your comments here" validator=""
                          required="required"></textarea>
            </span>
        </label>
    </div>
    <input type="hidden" name="carboncopy" value="">
    <input type="hidden" name="thankyou" value="">
    <input type="hidden" name="thankyoutext" value="">
    <input type="hidden" name="subject" value="">
    <div class="bn-form-submit">
        <button type="submit" class="formbtn">Submit Form</button>
    </div>
</form>
<div id="Phone"></div>
<div id="ctl00_cph_main_loc_panel">

    <h3 class="subtitle" style="margin: 0px; float: none; clear: none; color: #101112; text-align: center; /* [disabled]list-style-position: inside; */ font-size: large;">
        <br>
        <span style="text-align: left">Call or visit the nearest EZ Insurance Agency, Inc. location</span>.
    </h3>


    <table style="border-collapse: collapse; width: 95%; margin: 0px 0% 0px 5%; border: 0px;">

        <tbody>
            <tr itemscope="" itemtype="http://schema.org/InsuranceAgency" id="loc_e5315f05-7311-4073-9c66-1078921349c9"> </tr>
            <tr itemscope="" itemtype="http://schema.org/InsuranceAgency" id="loc_5cbfd89f-bf3f-4795-938f-4156ae0402b6">
                <td class="subPrimaryTextCell" style="vertical-align: top; padding: 12px 3px 3px 3px;">

                    <div itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                        <meta itemprop="latitude" content="35.990367">
                        <meta itemprop="longitude" content="-96.098802">
                    </div>
                    <table style="border-collapse: collapse; border: 0px; float: left;">
                        <tbody>
                            <tr>&nbsp;

                            <tr itemscope="" itemtype="http://schema.org/InsuranceAgency" id="loc_ce538d4e-dbab-4f08-9ed3-7da315e62a9e">
                                <td class="subPrimaryTextCell" style="vertical-align: top; padding: 12px 3px 3px 3px; float: left; left: 30px;">
                                    <span style="text-align: center"></span>
                                    <div class="subtitle" style="padding-bottom: 3px;" itemprop="name">EZ Enterprises LP, DBA EZ Insurance Agency - Bethany</div>
                                    <meta itemprop="branchOf" itemscope="" itemtype="http://schema.org/InsuranceAgency" itemref="siteOrganization">
                                    <div itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                        <meta itemprop="latitude" content="35.511972">
                                        <meta itemprop="longitude" content="-97.623855">
                                    </div>
                                    <table style="border-collapse: collapse; border: 0px; float:right;">
                                        <tbody>
                                            <tr><td class="phoneTextCell"><b>Phone Number</b>&nbsp;</td><td style="text-align: left;" class="phoneTextCell" itemprop="telephone">(405) 603-8787</td></tr>

                                            <tr><td class="phoneTextCell"><b>Fax Number</b>&nbsp;</td><td style="text-align: right;" class="phoneTextCell" itemprop="faxNumber">(405) 603-8989</td></tr>
                                        </tbody>
                                    </table>
                                    <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                        <span itemprop="streetAddress">6221 NW 39th Expressway </span><br>
                                        <span itemprop="addressLocality">Bethany</span>, <span itemprop="addressRegion">OK</span> <span itemprop="postalCode">73008</span>
                                    </span><br>
                                    <a itemprop="url" href="https://www.google.com/maps/place/EZ+Insurance/@35.5116833,-97.6258712,17z/data=!4m12!1m9!4m8!1m0!1m6!1m2!1s0x87b205452efa3697:0x69ea91b97e7db0f!2sEZ+Insurance,+6221+NW+39th+Expy,+Bethany,+OK+73008!2m2!1d-97.6236825!2d35.511679!3m1!1s0x87b205452efa3697:0x69ea91b97e7db0f" target="_blank">
                                        Location Map &amp; Driving Directions
                                    </a>
                                    - <a href="http://www.ezinsurancetulsa.com/contact.aspx#" onclick="javascript:$(&#39;#hoursce538d4e-dbab-4f08-9ed3-7da315e62a9e&#39;).toggle(); return false;">Office Hours</a><br>
                                    <br>
                                    <div id="hoursce538d4e-dbab-4f08-9ed3-7da315e62a9e" style="-moz-column-count:2; -webkit-column-count:2; column-count:2; margin: 10px 0px 0px 10px; max-width: 400px; display: none;">
                                        <meta itemprop="openingHours" content="Mo 09:00-20:00">
                                        <span class="openDay">Monday</span><span class="openHours">9:00AM - 8:00PM</span><br>
                                        <meta itemprop="openingHours" content="Tu 09:00-20:00">
                                        <span class="openDay">Tuesday</span><span class="openHours">9:00AM - 8:00PM</span><br>
                                        <meta itemprop="openingHours" content="We 09:00-20:00">
                                        <span class="openDay">Wednesday</span><span class="openHours">9:00AM - 8:00PM</span><br>
                                        <meta itemprop="openingHours" content="Th 09:00-20:00">
                                        <span class="openDay">Thursday</span><span class="openHours">9:00AM - 8:00PM</span><br>
                                        <meta itemprop="openingHours" content="Fr 09:00-20:00">
                                        <span class="openDay">Friday</span><span class="openHours">9:00AM - 8:00PM</span><br>
                                        <meta itemprop="openingHours" content="Sa 09:00-17:00">
                                        <span class="openDay">Saturday</span><span class="openHours">9:00AM - 5:00PM</span><br>
                                    </div>
                                </td>
                            </tr>
                            <tr itemscope="" itemtype="http://schema.org/InsuranceAgency" id="loc_fb27ae1f-d9e1-40e1-9a66-ac9efa81e965">
                                <td class="subPrimaryTextCell" style="vertical-align: top; padding: 12px 3px 3px 3px; float: left;">
                                    <div class="subtitle" style="padding-bottom: 3px;" itemprop="name">EZ Enterprises LP, DBA EZ Insurance Agency - OKC</div>
                                    <meta itemprop="branchOf" itemscope="" itemtype="http://schema.org/InsuranceAgency" itemref="siteOrganization">
                                    <div itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                        <meta itemprop="latitude" content="35.406276">
                                        <meta itemprop="longitude" content="-97.556992">
                                    </div>
                                    <table style="border-collapse: collapse; border: 0px; float: right;">
                                        <tbody>
                                            <tr>
                                                <td class="phoneTextCell"><strong>Phone Number</strong>&nbsp;</td>
                                                <td style="text-align: right;" class="phoneTextCell" itemprop="telephone">(405) 606-7409</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                    <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                        <span itemprop="streetAddress">100 SE 29th St. </span><br>
                                        <span itemprop="addressLocality">Oklahoma City</span>, <span itemprop="addressRegion">OK</span> <span itemprop="postalCode">73129</span>
                                    </span><br>
                                    <a itemprop="url" href="https://www.google.com/maps/search/ez+insurance+near+Southwest+59th+Street,+Oklahoma+City,+OK/@35.3347488,-97.5823661,11z/data=!3m1!4b1" target="_blank">
                                        Location Map &amp; Driving Directions
                                    </a>
                                    - <a href="http://www.ezinsurancetulsa.com/contact.aspx#" onclick="javascript:$(&#39;#hoursfb27ae1f-d9e1-40e1-9a66-ac9efa81e965&#39;).toggle(); return false;">Office Hours</a>
                                    <div id="hoursfb27ae1f-d9e1-40e1-9a66-ac9efa81e965" style="-moz-column-count:2; -webkit-column-count:2; column-count:2; margin: 10px 0px 0px 10px; max-width: 400px; display: none;">
                                        <meta itemprop="openingHours" content="Mo 09:00-18:00">
                                        <span class="openDay">Monday</span><span class="openHours">9:00AM - 6:00PM</span><br>
                                        <meta itemprop="openingHours" content="Tu 09:00-18:00">
                                        <span class="openDay">Tuesday</span><span class="openHours">9:00AM - 6:00PM</span><br>
                                        <meta itemprop="openingHours" content="We 09:00-18:00">
                                        <span class="openDay">Wednesday</span><span class="openHours">9:00AM - 6:00PM</span><br>
                                        <meta itemprop="openingHours" content="Th 09:00-18:00">
                                        <span class="openDay">Thursday</span><span class="openHours">9:00AM - 6:00PM</span><br>
                                        <meta itemprop="openingHours" content="Fr 09:00-18:00">
                                        <span class="openDay">Friday</span><span class="openHours">9:00AM - 6:00PM</span><br>
                                    </div>


                                </td>
                            </tr>
                            <tr itemscope="" itemtype="http://schema.org/InsuranceAgency" id="loc_0d0ae633-5424-4b36-aab5-aced7be20b27"> </tr>
                    </table>

            </tr>
        </tbody>
    </table>


</div>
<div id="social">
    <div class="row social">
        <div class="col-md-2 col-md-offset-2 col-xs-offset-0 col-xs-3"><a href="https://www.facebook.com/EZEnterprisesLP/?fref=nf" target="_blank"><img src="images/face_book.png" alt="Facebook" width="43" class="img-responsive fb" title="EZ Facebook"></a>
        </div>
        <div class="col-md-2 col-xs-3"><a href="https://twitter.com/AgencyEz" target="_blank"><img src="images/twitter_.png" alt="Twitter" width="43" class="img-responsive twitter"></a>
        </div>
        <div class="col-md-2 col-xs-3"><a href="https://www.instagram.com/ezinsurance/" target="_blank"><img src="images/insta_gram.png" alt="Instagram" width="43" class="img-responsive insta"></a>
        </div>
        <div class="col-md-2 col-xs-3"><a href="https://www.youtube.com/" target="_blank"><img src="images/you_tube.png" alt="YouTube" width="43" class="img-responsive yt" title="EZ YouTube"></a>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://assets.bravenet.com/bn/js/emailfwd/bn_email_forms.min.js"></script>