  
<div class="row">
    <div class="col-md-6">
        <p>
            We are an <b>independent insurance agency</b> with the customer in mind. We have relationships with dozens of <b>insurance</b> companies,
            allowing you to get the right price with the right coverage. Whether you have the ideal history that preferred companies desire,
            or a not so perfect history, we will find the right coverage, with the best company, at the best price for you.
            Make the latest changes to your policy directly from our website twenty-four hours a day, seven days a week.
            As a <b>independent insurance agent</b> we can offer the right coverages with the personal touch you would expect from your neighborhood 
            <b>insurance agent</b>.
        </p>
        <p>
            <img src="images/EZ_29thsm.jpg" alt="OKC Location" class="img-responsive" title="OKC EZ Insurance">
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <img src="images/EZ_Bethany-sm.jpg" alt="Bethany Location" class="img-responsive" title="Bethany EZ Insurance">
            <strong>Homeowners Insurance for Everyone!</strong> Homeowners insurance protects you from financial losses caused by storms,
            fire, theft, and other events outlined in your policy. Carrying the right amount of coverage is essential to protecting your family and belongings.
            <br /><br />
            <img src="images/photo 18.jpg" alt="Calendar" style="width: 40%; float: right" class="img-responsive img7" title="Calendar">
        </p>
        <p>
            <strong>We are here for you twenty-four hours a day, seven days a week!</strong> Quickly and easily submit your application for a free <strong>
            automobile insurance quote</strong> using our easy to use website. As a customer, you will enjoy our suite of customer service forms all from your local 
            <strong>insurance agent</strong>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <a href="Car_Insurance.html">
            <img src="images/photo 2.jpg" alt="Vehicle Insurance" class="img-responsive">
            Vehicle Insurance
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="Products.html">
            <img src="images/photo 3.jpg" alt="Property Insurance" class="img-responsive">
            Property Insurance
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="Commercial_Insurance.html">
            <img src="images/photo 6.jpg" alt="Commercial Insurance" class="img-responsive">
            Commercial Insurance
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="Life_Insurance.html">
            <img src="images/photo 7.jpg" alt="Life Insurance" class="img-responsive img7">
            Life Insurance
        </a>
    </div>
</div>

<br/><br/>

<div class="text-center">
    <p>Bethany Address: 6221 NW 39th, Bethany, OK 73008 Call : 405.603.8787 </p>
    <p>Oklahoma City Address: 100 SE 29th, OKC, OK 73129 Call: 405.606.7409</p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp; EZ Insurance Agency is one of our low cost Insurance Agencies located in Bethany and Oklahoma City, Oklahoma that provides Auto Insurance,
        Homeowners Insurance, Boat Insurance, Renters Insurance, Motorcycle Insurance, Commercial and Life Insurance.
        We have four independent insurance agencies in the state of Oklahoma and we strive in writing our customers with the lowest possible rates.
    </p>
</div>