<h3>Life Insurance</h3><br/>

<div class="row">
    <div class="col-xs-7">
        <p>
            We work with several of the nations top life insurance companies to help you find the right coverage and price combination.
        </p>

        <p>
            How are life insurance rates determined?<br/>
            Life insurance rates will vary depending primarily upon age, sex, and basic health and lifestyle factors.
            <a href="http://ezinsok.com/Life_Insurance_Quote.html">Compare life insurance rates here.</a>
        </p><br/><br/>

        <p><strong>Why do you need life insurance?</strong>
        </p>
    </div>
    <div class="col-xs-5">
        <img class="img-responsive" src="../images/Stock photos/photo 8.jpg"/>
    </div>
</div>

<p>
    This can be a complicated answer and will certainly vary for every individual and situtation.
    The most common reasons for life insurance are income replacement and estate preservation.
    Our licensed life insurance agents can help you determine which type of policy can fit your needs the best.
    <a href="http://ezinsok.com/Contact_Us.html">Ask a life insurance question online now.</a>
</p>
<p>
    How much life insurance do you need? It is best to discuss this question with your family and our agents.
    Industry guidelines indicate that you should consider about 18 times your annual income.
    <a href="http://ezinsok.com/Life_Insurance_Quote.html">Start by getting a life insurance quote.</a>
</p>