<a href="VIP_Roadside_Assistance.html" target="_blank"><img src="images/Stock photos/vipbanner.png" alt="VIP Roadside Assistance" class="img-responsive" style="float:right" title="VIP Roadside Assistance"></a>

<h3>Make A Payment</h3>

<p>Would you like to make an online payment?</p>

<p><strong>Please select one of the following:</strong></p>

<form method="post" name="f1" id="payment_form">
    <select name="URL" size="1" onchange="window.open(this.form.URL.options[this.form.URL.selectedIndex].value)">
        <option selected="selected">Select your company</option>
        <option value="https://www.access.com/home/QuickPay/">Access Insurance</option>
        <option value="https://www.amwinsauto.com/insd/">AmWINS/Old American</option>
        <option value="http://www.amig.com/">American Modern</option>
        <option value="https://insured.jupiterautoins.com/Login.cfm">Bankers/Jupiter</option>
        <option value="https://www.bristolwest.com/bristolwest/home.aspx">Bristol West</option>
        <option value="http://www.foremost.com/payonline/">Foremost</option>
        <option value="http://www.gainsco.com/customers">GainsCo Insurance</option>
        <option value="https://www.fmweb2.com/FMGRI/FMInsuredLogin.asp">General Liability/Business</option>
        <option value="http://hallmarkinsco.com/customer/">Hallmark</option>
        <option value="https://my.imperialfire.com/">Imperial Fire</option>
        <option value="https://mykey.keyinsco.com/">Key Insurance</option>
        <option value="https://specialty.kemper.com/us/public/index.cfm/go/payments.home/">Kemper Specialty</option>
        <option value="http://www.mdowinsurance.com/pay-my-premium">MDOW Insurance</option>
        <option value="https://cp.mercuryinsurance.com/cas/login?service=https%3A%2F%2Fcp.mercuryinsurance.com%2Fc%2Fportal%2Flogin%3Fredirect%3D%252F%26p_l_id%3D10183">Mercury Insurance</option>
        <option value="http://www.midlandsmgtauto.com/insd/">Midlands Insurance</option>
        <option value="https://www.natlloyds.com/">National Loyds</option>
        <option value="http://www.nationalsecuritygroup.com/public/Payments">National Security</option>
        <option value="https://onlineservice4.progressive.com/SelfService.Web/SelfService.aspx?Page=Non-LoggedIn.VerifyPolicy.ProvidePolicyInformation&QueryStringSetKey=SessionGateway&OfferingID=SelfService&SessionStart=TRUE&EZDestination=EZPAY">Progressive</option>
        <option value="http://tradersauto.com/">Traders Insurance</option>
        <option value="https://mypolicy.uaig.net/insurednew/">United Auto</option>
    </select>
</form>
