<h3>Fast &amp; Free Insurance Quotes</h3><br />

<p>Quickly compare several insurance company quotes by completing just one form.</p><br />

<p><strong>Start your quote here!</strong></p>

<form method="post" name="quotes_form">
    <select name="URL" size="1" onchange="window.open(this.form.URL.options[this.form.URL.selectedIndex].value)">
        <option selected="selected">Select one</option>
        <option value="Home_Insurance_Quote.html">Home Insurance</option>
        <option value="Auto_Quote_Form.html">Auto Insurance</option>
        <option value="Dental_Quote.html">Dental Insurance</option>
        <option value="Life_Insurance_Quote.html">Life Insurance</option>
        <option value="Motorcycle_Quote.html">Motorcycle Insurance</option>
        <option value="Non_Owner_SR22.html">Non-Owners SR22</option>
        <option value="Renters_Quote.html">Renters Insurance</option>
        <option value="Commercial_Insurance.html">Commercial Insurance</option>
        <option value="Vision_Quote.html">Vision Insurance</option>
    </select>
</form>

<br /><br /><br /><br />
